/* =====================
   RESET
===================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =====================
   BARRA
===================== */
.barra{
    display: flex;
    gap: 50px;
    align-items: center;
}

.titulo{
    margin-left: 30px;
    color: green;
    margin-right: 20%;
}

.menu ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.button{
    display: flex;
    gap: 20px;
    margin-left: 60vh;
    align-items: center;
}

.button .verde{
    background-color: green;
    border-radius: 20px;
    height: 32px;
    width: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =====================
   HERO
===================== */
.imagen{
    height: 663px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.info h1{
    font-size: 80px;
    text-align: start;
}

.info p{
    font-size: 18px;
    padding-top: 2vh;
}

.botones{
    display: flex;
    gap: 50px;
}

.botones .verde{
    margin-left: 35%;
    background-color: green;
    border-radius: 20px;
    height: 64px;
    width: 120px;
}

.botones button{
    border-radius: 20px;
    height: 64px;
    width: 120px;
}

.imagen .imagen{
    background-image: url("./Screenshot_1.png");
    background-size: cover;
    height: 80vh;
    padding: 0 20px;
}

/* =====================
   INFO 2
===================== */
.info2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

/* =====================
   PRINCIPAL 2
===================== */
.principal2{
    background-color: gray;
}

.imagen2{
    height: 663px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.imagen2 .info h1{
    font-size: 80px;
}

.principal2 .botones{
    margin-top: 30px;
    display: flex;
    gap: 200px;
}

/* =====================
   IMAGEN 3
===================== */
.imagen3{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.cont1,
.cont2,
.cont3{
    display: flex;
}

/* =====================
   FEATURES
===================== */
.fila{
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.fila button{
    background-color: green;
    border-radius: 25px;
    height: 66px;
    width: 162px;
}

/* =====================
   CARDS
===================== */
.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 25px;
}

/* =====================
   BENEFITS
===================== */
.benefit{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lista{
    display: flex;
    flex-direction: column;
}

.lista h1{
    font-size: 80px;
    text-align: start;
}

.fi{
    background-image: url("./Screenshot_2.png");
    background-size: cover;
    height: 80vh;
    padding: 0 20px;
}

.fil{
    display: flex;
    margin: 20px;
}

.fil i{
    color: rgb(51, 182, 61);
}

/* =====================
   FOOTER
===================== */
.footer1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    color: white;
    height: 300px;
}

.tite{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tite h1{
    color: green;
}

.ano{
    margin-top: auto;
}

.support{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

/* =====================
   RESPONSIVE
===================== */
@media (max-width: 768px){

    .barra{
        flex-direction: column;
        gap: 20px;
    }

    .button{
        margin-left: 0;
    }

    .imagen,
    .imagen2{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .info h1,
    .imagen2 .info h1,
    .lista h1{
        font-size: 40px;
    }

    .botones{
        justify-content: center;
        flex-wrap: wrap;
    }

    .principal2 .botones{
        gap: 30px;
    }

    .contenedor{
        grid-template-columns: 1fr;
        margin-left: 0;
    }

    .benefit{
        grid-template-columns: 1fr;
    }

    .footer1{
        grid-template-columns: 1fr;
        height: auto;
        text-align: center;
    }

    .support{
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .cont{
        align-items: center;
    }
}
